@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-slate-600 hover:text-black focus:text-black focus:outline-none dark:text-slate-300 dark:hover:text-white dark:focus:text-white;
  }

  h1 {
    @apply text-4xl font-bold text-slate-800 dark:text-gray-200;
  }

  h2 {
    @apply text-2xl font-semibold text-slate-800 dark:text-gray-200;
  }

  h3 {
    @apply text-lg font-semibold text-slate-800 dark:text-gray-200;
  }

  p {
    @apply text-slate-800 dark:text-gray-200;
  }

  button {
    @apply rounded-md bg-slate-600 hover:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:bg-slate-400 dark:hover:bg-slate-500;
  }
}

@layer components {
  .underlined {
    @apply relative whitespace-nowrap no-underline;
  }

  .underlined-after {
    @apply absolute left-0 block h-0.5 w-full origin-left scale-x-0 bg-black transition-transform duration-[250] dark:bg-white;
  }

  .model-background {
    @apply h-[90vh];
  }

  .color-text {
    @apply text-inherit dark:text-inherit;
  }
}
