@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-slate-600 hover:text-black focus:text-black focus:outline-none dark:text-slate-300 dark:hover:text-white dark:focus:text-white;
  }

  a.inherit {
    @apply text-inherit;
  }

  h1 {
    @apply text-4xl font-bold text-slate-800 dark:text-gray-200;
  }

  h2 {
    @apply text-2xl font-semibold text-slate-800 dark:text-gray-200;
  }

  h3 {
    @apply text-lg font-semibold text-slate-800 dark:text-gray-200;
  }

  p {
    @apply text-slate-800 dark:text-gray-200;
  }

  button,
  button.base-button {
    @apply rounded-md bg-slate-600 hover:bg-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 dark:bg-slate-400 dark:hover:bg-slate-500;
  }
}

@layer components {
  .active {
    @apply text-black dark:text-white;
  }

  .active-after {
    @apply absolute left-0 block h-0.5 w-full bg-black dark:bg-white;
  }

  .underlined {
    @apply relative block whitespace-nowrap no-underline;
  }

  .underlined-after {
    @apply absolute left-0 block h-0.5 w-full origin-left scale-x-0 bg-black transition-transform duration-[250] dark:bg-white;
  }

  .model-background {
    @apply h-[90vh];
  }

  .color-text {
    @apply text-inherit hover:text-inherit focus:text-inherit dark:text-inherit dark:hover:text-inherit dark:focus:text-inherit;
  }

  .menu-list {
    @apply relative z-20 w-40 rounded-md border-none p-1 shadow-lg ring-1 ring-black ring-opacity-5;
  }

  .timeline {
    @apply border-slate-300 dark:border-slate-500;
  }

  [data-reach-menu-item],
  a[data-reach-menu-item] {
    @apply rounded-md p-2 text-black;
  }

  [data-reach-menu-item][data-selected] {
    @apply bg-slate-800 text-white;
  }
}
